:root {
  font-synthesis: none !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  /* master */
  --form-lcbank-master-width: calc(100% - var(--form-lcbank-imagebox-width)) !important;
  --form-lcbank-master-font: 'Poppins', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  --form-lcbank-master-padding: 20px !important;
  --form-lcbank-master-background-color: #fff !important;
  --form-lcbank-master-width-1200: calc(100% - var(--form-lcbank-imagebox-width-1200)) !important;
  --form-lcbank-master-width-900: calc(100% - var(--form-lcbank-imagebox-width-900)) !important;
  --form-lcbank-master-width-800: calc(100% - var(--form-lcbank-imagebox-width-800)) !important;
  --form-lcbank-master-width-767: calc(100% - 30px) !important;

  /* imagebox */
  --form-lcbank-imagebox-background-color: #F1F1F1 !important;
  --form-lcbank-imagebox-width: 570px !important;
  --form-lcbank-imagebox-width-1200: 400px !important;
  --form-lcbank-imagebox-width-900: 300px !important;
  --form-lcbank-imagebox-width-800: 240px !important;
  --form-lcbank-imagebox-font: 'Poppins', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  --form-lcbank-imagebox-title-size: clamp(1.25rem, -0.75rem + 4.1667vw, 2.375rem) !important;
  --form-lcbank-imagebox-title-weight: 600 !important;
  --form-lcbank-imagebox-text-size: 12px !important;
  --form-lcbank-imagebox-text-color: #222222 !important;
  --form-lcbank-imagebox-text-line-height: 120% !important;

  /* form */
  --form-lcbank-form-round: 8px !important;
  --form-lcbank-form-border: 1px solid #d9d9d9 !important;
  --form-lcbank-form-padding: 20px !important;
  --form-lcbank-form-margin: 20px 0 10px !important;

  /* form container */
  --form-lcbank-form-container-width: 545px !important;
  --form-lcbank-form-container-h2-align: center !important;
  --form-lcbank-form-container-h2-color: #222 !important;
  --form-lcbank-form-container-h2-line-height: 120% !important;
  --form-lcbank-form-container-h2-margin: 0 0 5px !important;
  --form-lcbank-form-container-h2-size: 22px !important;
  --form-lcbank-form-container-h2-size-767: 16px !important;
  --form-lcbank-form-container-h2-weight: 500 !important;
  --form-lcbank-form-container-h2-weight-767: 400 !important;
  
  /* errors */
  --form-lcbank-error-color: #C02020 !important;
  --form-lcbank-error-size: 12px !important;
  --form-lcbank-error-margin: 5px 0 0 !important;

  /* helpers */
  --form-lcbank-helper-color: #333333 !important;
  --form-lcbank-helper-size: 12px !important;
  --form-lcbank-helper-margin: 5px 0 0 !important;

  /* field box */
  --form-lcbank-field-margin: 15px 0 !important;
  
  /* input */
  --form-lcbank-input-width: 100% !important;
  --form-lcbank-input-height: 40px !important;
  --form-lcbank-input-round: 8px !important;
  --form-lcbank-input-size: 16px !important;
  --form-lcbank-input-color: #222222 !important;
  --form-lcbank-input-padding: 0 5px !important;
  --form-lcbank-input-transition: all .3s ease-in-out !important;
  --form-lcbank-input-border: 1px solid #D9D9D9 !important;
  --form-lcbank-input-border-focus: 1px solid #0080FF !important;
  --form-lcbank-input-border-error: 1px solid #C02020 !important;
  --form-lcbank-input-border-success: 1px solid #108454 !important;

  /* label */
  --form-lcbank-label-width: 100% !important;
  --form-lcbank-label-size: 16px !important;
  --form-lcbank-label-weight: 400 !important;
  --form-lcbank-label-margin: 0 0 5px !important;
  --form-lcbank-label-display: flex !important;
  --form-lcbank-label-gap: 3px !important;
  --form-lcbank-label-color: #1E1E1E !important;

  /* required */
  --form-lcbank-required-color: red !important;

  /* button */
  --form-lcbank-button-size: 16px !important;
  --form-lcbank-button-background-color: #D10774 !important;
  --form-lcbank-button-background-color-hover: #0D18A3 !important;
  --form-lcbank-button-color: #fff !important;
  --form-lcbank-button-color-hover: #fff !important;
  --form-lcbank-button-round: 8px !important;
  --form-lcbank-button-height: 40px !important;
  --form-lcbank-button-margin: 10px auto 0 !important;
  --form-lcbank-button-width: 100% !important;
  --form-lcbank-button-border: none !important;
  --form-lcbank-button-weight: 600 !important;
  --form-lcbank-button-transition: all .3s ease-in-out !important;

  /* loading */
  --form-lcbank-loading-background-color: #fff !important;
  --form-lcbank-loading-image-width: 48px !important;
  --form-lcbank-loading-image-height: 48px !important;

  /* result */
  --form-lcbank-result-background-color: #fff !important;
  --form-lcbank-result-h2-color: #ba055d !important;
  --form-lcbank-result-p-color: #ba055d !important;

  /* images */
  --form-lcbank-image-success: url('data:image/svg+xml !important;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjIgMTEuMDhWMTJDMjEuOTk4OCAxNC4xNTY0IDIxLjMwMDUgMTYuMjU0NyAyMC4wMDkzIDE3Ljk4MThDMTguNzE4MiAxOS43MDkgMTYuOTAzMyAyMC45NzI1IDE0LjgzNTQgMjEuNTgzOUMxMi43Njc0IDIyLjE5NTMgMTAuNTU3MyAyMi4xMjE5IDguNTM0NDcgMjEuMzc0NkM2LjUxMTY4IDIwLjYyNzMgNC43ODQ2NSAxOS4yNDYxIDMuNjEwOTYgMTcuNDM3MUMyLjQzNzI3IDE1LjYyOCAxLjg3OTc5IDEzLjQ4ODEgMi4wMjE2OCAxMS4zMzYzQzIuMTYzNTYgOS4xODQ1NiAyLjk5NzIxIDcuMTM2MzIgNC4zOTgyOCA1LjQ5NzA3QzUuNzk5MzUgMy44NTc4MiA3LjY5Mjc5IDIuNzE1MzggOS43OTYxOSAyLjI0MDE0QzExLjg5OTYgMS43NjQ5MSAxNC4xMDAzIDEuOTgyMzMgMTYuMDcgMi44Nk0yMiA0TDEyIDE0LjAxTDkuMDAwMDEgMTEuMDEiIHN0cm9rZT0iIzEwODQ1NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=') !important;
  --form-lcbank-image-error: url('data:image/svg+xml !important;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgOFYxMk0xMiAxNkgxMi4wMU0yMiAxMkMyMiAxNy41MjI4IDE3LjUyMjggMjIgMTIgMjJDNi40NzcxNSAyMiAyIDE3LjUyMjggMiAxMkMyIDYuNDc3MTUgNi40NzcxNSAyIDEyIDJDMTcuNTIyOCAyIDIyIDYuNDc3MTUgMjIgMTJaIiBzdHJva2U9IiNDMDIwMjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+') !important;

  /* privacy */
  --form-lcbank-privacy-size: 13px !important;
  --form-lcbank-privacy-color: #4A4A4A !important;
  --form-lcbank-privacy-margin: 0 25px !important;
  --form-lcbank-privacy-margin-767: 0 !important;
  --form-lcbank-privacy-line-height: 20px !important;
  --form-lcbank-privacy-link-color: #4A4A4A !important;
  --form-lcbank-privacy-link-decoration: underline !important;

  /* mobile title */
  --form-lcbank-mobile-title-size: 20px !important;
  --form-lcbank-mobile-title-color: #222222 !important;
  --form-lcbank-mobile-title-margin: 10px 0 !important;
  --form-lcbank-mobile-title-align: center !important;
  
}
.form-lcbank-image-box, .form-lcbank-form, .form-lcbank-modal {
  position: relative !important;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-modal {
  visibility: hidden !important;
  opacity: 0 !important;
  &.active {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.form-lcbank-modal, .form-lcbank-loading, .form-lcbank-result {
  top: 0 !important;
}
.form-lcbank-image-box, .form-lcbank-modal {
  height: 100vh !important;
}
.form-lcbank-modal {
  background: #fff !important;
  overflow: auto !important;
  box-sizing: border-box !important;
  transform: translateX(100vw) !important;
  position: fixed !important;
  transition: all .5s ease-in-out !important;
  &.active {
    transition: all .5s ease-in-out !important;
    transform: translateX(0) !important;
  }
}
.form-lcbank-close, .form-lcbank-loading, .form-lcbank-result {
  transition: all .2s ease-in-out !important;
  z-index: 10 !important;
  &:hover {
    transition: all .2s ease-in-out !important;
  }
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-close, .form-lcbank-image-logo-text {
  position: absolute !important;
}
.form-lcbank-image-logo-text {
  margin: 0 !important;
  bottom: 20px !important;
  width: 100% !important;
  text-align: center !important;
  font-size: var(--form-lcbank-imagebox-text-size) !important;
}
.form-lcbank-image-logo-title {
  margin: 20px 0 !important;
  font-size: var(--form-lcbank-imagebox-title-size) !important;
  font-weight: var(--form-lcbank-imagebox-title-weight) !important;
  color: var(--form-lcbank-imagebox-text-color) !important;
  line-height: var(--form-lcbank-imagebox-text-line-height) !important;
}
.form-lcbank-close {
  top: 20px !important;
}
.form-lcbank-image-box-info {
  padding: 0 20px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  text-align: center !important;
  justify-content: center !important;
}
.form-lcbank-close {
  right: 20px !important;
  width: 46px !important;
  height: 46px !important;
  border-radius: 100px !important;
  border: none !important;
  cursor: pointer !important;
  background: #fff !important;
  &:hover {
    background: #ccc !important;
  }
}
.form-lcbank-modal, .form-lcbank-modal-block, .form-lcbank-loading, .form-lcbank-result, .form-lcbank-result .form-lcbank-result-info {
  width: 100% !important;
}
.form-lcbank-loading, .form-lcbank-result {
  left: 0 !important;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-master {
  height: 100% !important;
}
.form-lcbank-loading {
  border-radius: var(--form-lcbank-form-round) !important;
  background-color: var(--form-lcbank-loading-background-color) !important;
  .form-lcbank-loading-img {
    width: var(--form-lcbank-loading-image-width) !important;
    height: var(--form-lcbank-loading-image-height) !important;
  }
}
.form-lcbank-result {
  border-radius: var(--form-lcbank-form-round) !important;
  background-color: var(--form-lcbank-result-background-color) !important;
  text-align: center !important;
  .form-lcbank-result-info {
    padding: 20px !important;
  }
  .form-lcbank-result-title {
    color: var(--form-lcbank-result-h2-color) !important;
  }
  .form-lcbank-result-text {
    color: var(--form-lcbank-result-p-color) !important;
  }
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-image-box, .form-lcbank-close, .form-lcbank-modal-block, .form-lcbank-master {
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-image-box, .form-lcbank-close {
  justify-content: center !important;
}
.form-lcbank-modal-block {
  justify-content: space-between !important;
  align-content: center !important;
}
.form-lcbank-image-box {
  width: var(--form-lcbank-imagebox-width) !important;
  background-color: var(--form-lcbank-imagebox-background-color) !important;
  min-height: 770px !important;
  font-family: var(--form-lcbank-imagebox-font) !important;
  align-content: center !important;
}
.form-lcbank-master {
  width: var(--form-lcbank-master-width) !important;
  font-family: var(--form-lcbank-master-font) !important;
  padding: var(--form-lcbank-master-padding) !important;
  background: var(--form-lcbank-master-background-color) !important;
}
.form-lcbank-master-container {
  margin: 0 auto !important;
  width: var(--form-lcbank-form-container-width) !important;
  .form-lcbank-master-title {
    color: var(--form-lcbank-form-container-h2-color) !important;
    line-height: var(--form-lcbank-form-container-h2-line-height) !important;
    text-align: var(--form-lcbank-form-container-h2-align) !important;
    margin: var(--form-lcbank-form-container-h2-margin) !important;
    font-size: var(--form-lcbank-form-container-h2-size) !important;
    font-weight: var(--form-lcbank-form-container-h2-weight) !important;
  }
}
.form-lcbank-form {
  border: var(--form-lcbank-form-border) !important;
  border-radius: var(--form-lcbank-form-round) !important;
  padding: var(--form-lcbank-form-padding) !important;
  margin: var(--form-lcbank-form-margin) !important;
}
.form-lcbank-field {
  margin: var(--form-lcbank-field-margin) !important;
}
.form-lcbank-label {
  width: var(--form-lcbank-label-width) !important;
  font-weight: var(--form-lcbank-label-weight) !important;
  font-size: var(--form-lcbank-label-size) !important;
  margin: var(--form-lcbank-label-margin) !important;
  display: var(--form-lcbank-label-display) !important;
  gap: var(--form-lcbank-label-gap) !important;
  color: var(--form-lcbank-label-color) !important;
}
.form-lcbank-input {
  outline: none !important;
  color: var(--form-lcbank-input-color) !important;
  width: var(--form-lcbank-input-width) !important;
  padding: var(--form-lcbank-input-padding) !important;
  height: var(--form-lcbank-input-height) !important;
  border-radius: var(--form-lcbank-input-round) !important;
  border: var(--form-lcbank-input-border) !important;
  transition: var(--form-lcbank-input-transition) !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 10px) center !important;
  font-size: var(--form-lcbank-input-size) !important;
  &:focus {
    border: var(--form-lcbank-input-border-focus) !important;
  }
  &.error {
    border: var(--form-lcbank-input-border-error) !important;
    background-image: var(--form-lcbank-image-error) !important;
  }
  &.error + .form-lcbank-error {
    display: block !important;
  }
  &.error + .form-lcbank-error + .form-lcbank-helper {
    display: none !important;
  }
  &.success {
    border: var(--form-lcbank-input-border-success) !important;
    background-image: var(--form-lcbank-image-success) !important;
  }
}
.form-lcbank-required {
  color: var(--form-lcbank-required-color) !important;
}
.form-lcbank-label-button {
  font-size: var(--form-lcbank-button-size) !important;
  background: var(--form-lcbank-button-background-color) !important;
  color: var(--form-lcbank-button-color) !important;
  height: var(--form-lcbank-button-height) !important;
  width: var(--form-lcbank-button-width) !important;
  border: var(--form-lcbank-button-border) !important;
  border-radius: var(--form-lcbank-button-round) !important;
  font-weight: var(--form-lcbank-button-weight) !important;
  cursor: pointer !important;
  transition: var(--form-lcbank-button-transition) !important;
  &:hover {
    transition: var(--form-lcbank-button-transition) !important;
    background: var(--form-lcbank-button-background-color-hover) !important;
    color: var(--form-lcbank-button-color-hover) !important;
  }
}
.form-lcbank-error {
  color: var(--form-lcbank-error-color) !important;
  font-size: var(--form-lcbank-error-size) !important;
  display: none !important;
  margin: var(--form-lcbank-error-margin)
}

.form-lcbank-helper {
  color: var(--form-lcbank-helper-color) !important;
  font-size: var(--form-lcbank-helper-size) !important;
  margin: var(--form-lcbank-helper-margin)
}
.form-lcbank-master-privacy {
  margin: var(--form-lcbank-privacy-margin) !important;
  font-size: var(--form-lcbank-privacy-size) !important;
  color: var(--form-lcbank-privacy-color) !important;
  line-height: var(--form-lcbank-privacy-line-height) !important;
  a {
    text-decoration: var(--form-lcbank-privacy-link-decoration) !important;
    color: var(--form-lcbank-privacy-link-color) !important;
  }
}
.form-lcbank-master-mobile-title {
  display: none !important;
  font-size: var(--form-lcbank-mobile-title-size) !important;
  color: var(--form-lcbank-mobile-title-color) !important;
  margin: var(--form-lcbank-mobile-title-margin) !important;
  text-align: var(--form-lcbank-mobile-title-align) !important;
}
@media all and (max-width: 1200px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-1200) !important;
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-1200) !important;
  }
}
@media all and (max-width: 900px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-900) !important;
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-900) !important;
  }
  .form-lcbank-image-logo {
    max-width: 80% !important;
    height: auto !important;
  }
}
@media all and (max-width: 800px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-800) !important;
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-800) !important;
  }
}
@media all and (max-width: 767px) {
  .form-lcbank-master-mobile-title {
    display: block !important;
  }
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-767) !important;
    padding: 60px 0 !important;
    margin: 0 auto !important;
  }
  .form-lcbank-close {
    top: 10px !important;
    right: 10px !important;
    width: 40px !important;
    height: 40px !important;
  }
  .form-lcbank-image-box {
    display: none !important;
  }
  .form-lcbank-form, .form-lcbank-master-container {
    width: 100% !important;
  }
  .form-lcbank-master-container {
    .form-lcbank-master-title {
      font-size: var(--form-lcbank-form-container-h2-size-767) !important;
      font-weight: var(--form-lcbank-form-container-h2-weight-767) !important;
    }
  }
  .form-lcbank-master-privacy {
    margin: var(--form-lcbank-privacy-margin-767) !important;
  }
  .form-lcbank-modal {
    transform: translateY(100vh) !important;
    &.active {
      transform: translateY(0) !important;
    }
  }
}