:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* master */
  --form-lcbank-master-width: calc(100% - var(--form-lcbank-imagebox-width));
  --form-lcbank-master-font: 'Poppins', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --form-lcbank-master-padding: 20px;
  --form-lcbank-master-background-color: #fff;
  --form-lcbank-master-width-1200: calc(100% - var(--form-lcbank-imagebox-width-1200));
  --form-lcbank-master-width-900: calc(100% - var(--form-lcbank-imagebox-width-900));
  --form-lcbank-master-width-800: calc(100% - var(--form-lcbank-imagebox-width-800));
  --form-lcbank-master-width-767: calc(100% - 30px);

  /* imagebox */
  --form-lcbank-imagebox-background-color: #F1F1F1;
  --form-lcbank-imagebox-width: 570px;
  --form-lcbank-imagebox-width-1200: 400px;
  --form-lcbank-imagebox-width-900: 300px;
  --form-lcbank-imagebox-width-800: 240px;

  /* form */
  --form-lcbank-form-round: 8px;
  --form-lcbank-form-border: 1px solid #d9d9d9;
  --form-lcbank-form-padding: 20px;
  --form-lcbank-form-margin: 20px 0;

  /* form container */
  --form-lcbank-form-container-width: 545px;
  --form-lcbank-form-container-h2-align: center;
  --form-lcbank-form-container-h2-margin: 0 0 5px;
  --form-lcbank-form-container-h2-size: 22px;
  --form-lcbank-form-container-h2-size-767: 20px;
  --form-lcbank-form-container-h2-weight: 600;
  --form-lcbank-form-container-p-align: center;
  --form-lcbank-form-container-p-margin: 0;
  --form-lcbank-form-container-p-size: 14px;
  
  /* errors */
  --form-lcbank-error-color: red;
  --form-lcbank-error-size: 14px;
  --form-lcbank-error-margin: 5px 0 0;

  /* field box */
  --form-lcbank-field-margin: 20px 0;
  
  /* input */
  --form-lcbank-input-width: 100%;
  --form-lcbank-input-height: 40px;
  --form-lcbank-input-round: 8px;
  --form-lcbank-input-size: 16px;
  --form-lcbank-input-color: #222222;
  --form-lcbank-input-padding: 0 5px;
  --form-lcbank-input-transition: all .3s ease-in-out;
  --form-lcbank-input-border: 1px solid #888;
  --form-lcbank-input-border-focus: 1px solid #0080FF;
  --form-lcbank-input-border-error: 1px solid #C02020;
  --form-lcbank-input-border-success: 1px solid #108454;

  /* label */
  --form-lcbank-label-width: 100%;
  --form-lcbank-label-size: 16px;
  --form-lcbank-label-weight: 400;
  --form-lcbank-label-margin: 0 0 5px;
  --form-lcbank-label-display: flex;
  --form-lcbank-label-gap: 3px;
  --form-lcbank-label-color: #1E1E1E;

  /* required */
  --form-lcbank-required-color: red;

  /* button */
  --form-lcbank-button-size: 16px;
  --form-lcbank-button-background-color: #D10774;
  --form-lcbank-button-background-color-hover: #bb065e;
  --form-lcbank-button-color: #fff;
  --form-lcbank-button-color-hover: #fff;
  --form-lcbank-button-round: 8px;
  --form-lcbank-button-height: 40px;
  --form-lcbank-button-margin: 10px auto 0;
  --form-lcbank-button-width: 100%;
  --form-lcbank-button-border: none;
  --form-lcbank-button-weight: 600;
  --form-lcbank-button-transition: all .3s ease-in-out;

  /* loading */
  --form-lcbank-loading-background-color: #fff;
  --form-lcbank-loading-image-width: 48px;
  --form-lcbank-loading-image-height: 48px;

  /* result */
  --form-lcbank-result-background-color: #fff;
  --form-lcbank-result-h2-color: #ba055d;
  --form-lcbank-result-p-color: #ba055d;

  /* images */
  --form-lcbank-image-success: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjIgMTEuMDhWMTJDMjEuOTk4OCAxNC4xNTY0IDIxLjMwMDUgMTYuMjU0NyAyMC4wMDkzIDE3Ljk4MThDMTguNzE4MiAxOS43MDkgMTYuOTAzMyAyMC45NzI1IDE0LjgzNTQgMjEuNTgzOUMxMi43Njc0IDIyLjE5NTMgMTAuNTU3MyAyMi4xMjE5IDguNTM0NDcgMjEuMzc0NkM2LjUxMTY4IDIwLjYyNzMgNC43ODQ2NSAxOS4yNDYxIDMuNjEwOTYgMTcuNDM3MUMyLjQzNzI3IDE1LjYyOCAxLjg3OTc5IDEzLjQ4ODEgMi4wMjE2OCAxMS4zMzYzQzIuMTYzNTYgOS4xODQ1NiAyLjk5NzIxIDcuMTM2MzIgNC4zOTgyOCA1LjQ5NzA3QzUuNzk5MzUgMy44NTc4MiA3LjY5Mjc5IDIuNzE1MzggOS43OTYxOSAyLjI0MDE0QzExLjg5OTYgMS43NjQ5MSAxNC4xMDAzIDEuOTgyMzMgMTYuMDcgMi44Nk0yMiA0TDEyIDE0LjAxTDkuMDAwMDEgMTEuMDEiIHN0cm9rZT0iIzEwODQ1NCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
  --form-lcbank-image-error: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgOFYxMk0xMiAxNkgxMi4wMU0yMiAxMkMyMiAxNy41MjI4IDE3LjUyMjggMjIgMTIgMjJDNi40NzcxNSAyMiAyIDE3LjUyMjggMiAxMkMyIDYuNDc3MTUgNi40NzcxNSAyIDEyIDJDMTcuNTIyOCAyIDIyIDYuNDc3MTUgMjIgMTJaIiBzdHJva2U9IiNDMDIwMjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+');

  /* privacy */
  --form-lcbank-privacy-size: 13px;
  --form-lcbank-privacy-color: #4A4A4A;
  --form-lcbank-privacy-margin: 0 25px;
  --form-lcbank-privacy-margin-767: 0;
  --form-lcbank-privacy-line-height: 20px;
  --form-lcbank-privacy-link-color: #4A4A4A;
  --form-lcbank-privacy-link-decoration: underline;
}
.form-lcbank-image-box, .form-lcbank-form, .form-lcbank-modal {
  position: relative;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-modal {
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.form-lcbank-modal, .form-lcbank-loading, .form-lcbank-result {
  top: 0;
}
.form-lcbank-image-box, .form-lcbank-modal {
  height: 100vh;
}
.form-lcbank-modal {
  background: #fff;
  overflow: auto;
  box-sizing: border-box;
  transform: translateX(100vw);
  position: fixed;
  transition: all .5s ease-in-out;
  &.active {
    transition: all .5s ease-in-out;
    transform: translateX(0);
  }
}
.form-lcbank-close, .form-lcbank-loading, .form-lcbank-result {
  transition: all .2s ease-in-out;
  z-index: 10;
  &:hover {
    transition: all .2s ease-in-out;
  }
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-image-logo, .form-lcbank-close {
  position: absolute;
}
.form-lcbank-image-logo, .form-lcbank-close {
  top: 20px;
}
.form-lcbank-image-logo {
  left: 50%;
  transform: translateX(-50%);
}
.form-lcbank-close {
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background: #DBDBDB;
  &:hover {
    background: #ccc;
  }
}
.form-lcbank-modal, .form-lcbank-modal-block, .form-lcbank-loading, .form-lcbank-result, .form-lcbank-result .form-lcbank-result-info {
  width: 100%;
}
.form-lcbank-loading, .form-lcbank-result {
  left: 0;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-master {
  height: 100%;
}
.form-lcbank-loading {
  border-radius: var(--form-lcbank-form-round);
  background-color: var(--form-lcbank-loading-background-color);
  .form-lcbank-loading-img {
    width: var(--form-lcbank-loading-image-width);
    height: var(--form-lcbank-loading-image-height);
  }
}
.form-lcbank-result {
  border-radius: var(--form-lcbank-form-round);
  background-color: var(--form-lcbank-result-background-color);
  text-align: center;
  .form-lcbank-result-info {
    padding: 20px;
  }
  .form-lcbank-result-title {
    color: var(--form-lcbank-result-h2-color);
  }
  .form-lcbank-result-text {
    color: var(--form-lcbank-result-p-color);
  }
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-image-box, .form-lcbank-close, .form-lcbank-modal-block, .form-lcbank-master {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-lcbank-loading, .form-lcbank-result, .form-lcbank-image-box, .form-lcbank-close {
  justify-content: center;
}
.form-lcbank-modal-block {
  justify-content: space-between;
  align-content: center;
}
.form-lcbank-image-box {
  width: var(--form-lcbank-imagebox-width);
  background-color: var(--form-lcbank-imagebox-background-color);
  min-height: 770px;
}
.form-lcbank-master {
  width: var(--form-lcbank-master-width);
  font-family: var(--form-lcbank-master-font);
  padding: var(--form-lcbank-master-padding);
  background: var(--form-lcbank-master-background-color);
}
.form-lcbank-master-container {
  margin: 0 auto;
  width: var(--form-lcbank-form-container-width);
  .form-lcbank-master-title {
    text-align: var(--form-lcbank-form-container-h2-align);
    margin: var(--form-lcbank-form-container-h2-margin);
    font-size: var(--form-lcbank-form-container-h2-size);
    font-weight: var(--form-lcbank-form-container-h2-weight);
  }
  .form-lcbank-master-subtitle {
    text-align: var(--form-lcbank-form-container-p-align);
    margin: var(--form-lcbank-form-container-p-margin);
    font-size: var(--form-lcbank-form-container-p-size);
  }
}
.form-lcbank-form {
  border: var(--form-lcbank-form-border);
  border-radius: var(--form-lcbank-form-round);
  padding: var(--form-lcbank-form-padding);
  margin: var(--form-lcbank-form-margin);
}
.form-lcbank-field {
  margin: var(--form-lcbank-field-margin);
}
.form-lcbank-label {
  width: var(--form-lcbank-label-width);
  font-weight: var(--form-lcbank-label-weight);
  font-size: var(--form-lcbank-label-size);
  margin: var(--form-lcbank-label-margin);
  display: var(--form-lcbank-label-display);
  gap: var(--form-lcbank-label-gap);
  color: var(--form-lcbank-label-color);
}
.form-lcbank-input {
  outline: none;
  color: var(--form-lcbank-input-color);
  width: var(--form-lcbank-input-width);
  padding: var(--form-lcbank-input-padding);
  height: var(--form-lcbank-input-height);
  border-radius: var(--form-lcbank-input-round);
  border: var(--form-lcbank-input-border);
  transition: var(--form-lcbank-input-transition);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  font-size: var(--form-lcbank-input-size);
  &:focus {
    border: var(--form-lcbank-input-border-focus);
  }
  &.error {
    border: var(--form-lcbank-input-border-error);
    background-image: var(--form-lcbank-image-error);
  }
  &.error + .form-lcbank-error {
    display: block;
  }
  &.success {
    border: var(--form-lcbank-input-border-success);
    background-image: var(--form-lcbank-image-success);
  }
}
.form-lcbank-required {
  color: var(--form-lcbank-required-color);
}
.form-lcbank-label-button {
  font-size: var(--form-lcbank-button-size);
  background: var(--form-lcbank-button-background-color);
  color: var(--form-lcbank-button-color);
  height: var(--form-lcbank-button-height);
  width: var(--form-lcbank-button-width);
  border: var(--form-lcbank-button-border);
  border-radius: var(--form-lcbank-button-round);
  font-weight: var(--form-lcbank-button-weight);
  cursor: pointer;
  transition: var(--form-lcbank-button-transition);
  &:hover {
    transition: var(--form-lcbank-button-transition);
    background: var(--form-lcbank-button-background-color-hover);
    color: var(--form-lcbank-button-color-hover);
  }
}
.form-lcbank-error {
  color: var(--form-lcbank-error-color);
  font-size: var(--form-lcbank-error-size);
  display: none;
  margin: var(--form-lcbank-error-margin)
}
.form-lcbank-master-privacy {
  margin: var(--form-lcbank-privacy-margin);
  font-size: var(--form-lcbank-privacy-size);
  color: var(--form-lcbank-privacy-color);
  line-height: var(--form-lcbank-privacy-line-height);
  a {
    text-decoration: var(--form-lcbank-privacy-link-decoration);
    color: var(--form-lcbank-privacy-link-color);
  }
}
@media all and (max-width: 1200px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-1200);
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-1200);
  }
}
@media all and (max-width: 900px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-900);
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-900);
  }
  .form-lcbank-image-money, .form-lcbank-image-logo {
    max-width: 80%;
    height: auto;
  }
}
@media all and (max-width: 800px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-800);
  }
  .form-lcbank-image-box {
    width: var(--form-lcbank-imagebox-width-800);
  }
}
@media all and (max-width: 767px) {
  .form-lcbank-master {
    width: var(--form-lcbank-master-width-767);
    padding: 60px 0;
    margin: 0 auto;
  }
  .form-lcbank-close {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  .form-lcbank-image-box {
    display: none;
  }
  .form-lcbank-form, .form-lcbank-master-container {
    width: 100%;
  }
  .form-lcbank-master-container {
    .form-lcbank-master-title {
      font-size: var(--form-lcbank-form-container-h2-size-767);
    }
  }
  .form-lcbank-master-privacy {
    margin: var(--form-lcbank-privacy-margin-767);
  }
  .form-lcbank-modal {
    transform: translateY(100vh);
    &.active {
      transform: translateY(0);
    }
  }
}